<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <%= render 'errors' %>
      <%= form_with(model: @reserva, class: 'shadow-light p-3 mb-3 bg-dark rounded', local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :data_entrada, class: 'col-3 col-form-label text-light' %>
          <div class="col-9">
            <%= f.date_select :data_entrada, class: 'form-control shadow-light' %>
          </div>
        </div>
        
        <div class="form-group row">
          <%= f.label :data_saida, class: 'col-3 col-form-label text-light' %>
          <div class="col-9">
            <%= f.date_select :data_saida, class: 'form-control shadow-light' %>
          </div>
        </div>
        
        <div class="form-group row">
          <%= f.label :hora_entrada, class: 'col-3 col-form-label text-light' %>
          <div class="col-9">
            <%= f.time_select :hora_entrada, class: 'form-control shadow-light' %>
          </div>
        </div>
        
        <div class="form-group row">
          <%= f.label :hora_saida, class: 'col-3 col-form-label text-light' %>
          <div class="col-9">
            <%= f.time_select :hora_saida, class: 'form-control shadow-light' %>
          </div>
        </div>
        
        <div class="form-group row justify-content-center mt-4">
          <%= f.submit 'Reservar', class: 'btn btn-outline-light btn-lg' %>
        </div>
      <% end %> 
      <div class="mb-4">
        <%= link_to '[ Cancelar ]', reservas_path, class: 'row justify-content-center text-dark' %>
      </div>
    </div>
  </div>
</div>