<h1 class="text-center mt-4">Minhas Reservas</h1>

<div class="container">
  <% @reservas.each do |reserva| %>
    <div class="row justify-content-md-center">
      <div class="col-7 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body text-left">
            <table>
              <tr>
                <td class="text-right pr-2"><strong>Data de entrada:</strong></td>
                <td><%= reserva.data_entrada.strftime("%d/%m/%Y") %></td>
              </tr>
              <tr>
                <td class="text-right pr-2"><strong>Data de saída:</strong></td>
                <td><%= reserva.data_saida.strftime("%d/%m/%Y") %></td>
              </tr>
              <tr>
                <td class="text-right pr-2"><strong>Hora de entrada:</strong></td>
                <td><%= reserva.hora_entrada.strftime("%d/%m/%Y %H:%M") %></td>
              </tr>
              <tr>
                <td class="text-right pr-2"><strong>Hora de saída:</strong></td>
                <td><%= reserva.hora_saida.strftime("%d/%m/%Y %H:%M") %></td>
              </tr>
              <tr>
                <td class="text-right pr-2"><strong>Veículo:</strong></td>
                <td><%= reserva.veiculo&.placa&.upcase %></td>
              </tr>
            </table>
            <div class="text-right mt-2">
              <%= link_to 'Editar', edit_reserva_path(reserva), class: 'btn btn-info' %>
              <%= link_to 'Excluir', reserva_path(reserva), class: 'btn btn-danger', 
                                    method: :delete, data: { confirm: "Tem certeza que deseja excluir essa reserva?" } %>
            </div>
          </div>
          
          <div class="card-footer text-muted">
            <small>
              Criado há <%= time_ago_in_words(reserva.created_at) %>, 
              modificado há <%= time_ago_in_words(reserva.updated_at) %>     
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>