<p id="notice"><%= notice %></p>

<p>
  <strong>Data entrada:</strong>
  <%= @reserva.data_entrada %>
</p>

<p>
  <strong>Data saida:</strong>
  <%= @reserva.data_saida %>
</p>

<p>
  <strong>Hora entrada:</strong>
  <%= @reserva.hora_entrada %>
</p>

<p>
  <strong>Hora saida:</strong>
  <%= @reserva.hora_saida %>
</p>

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
