<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <%= render 'errors' %>
      <%= form_with(model: @veiculo, class: 'shadow-light p-3 mb-3 bg-dark rounded', local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :modelo, class: 'col-3 col-form-label text-light' %>
          <div class="col-9">
            <%= f.text_field :modelo, class: 'form-control shadow-light' %>
          </div>
        </div>
        
        <div class="form-group row">
          <%= f.label :marca, class: 'col-3 col-form-label text-light' %>
          <div class="col-9">
            <%= f.text_field :marca, class: 'form-control shadow-light' %>
          </div>
        </div>
        
        <div class="form-group row">
          <%= f.label :ano, class: 'col-3 col-form-label text-light' %>
          <div class="col-9">
            <%= f.number_field :ano, class: 'form-control shadow-light' %>
          </div>
        </div>
        
        <div class="form-group row">
          <%= f.label :placa, class: 'col-3 col-form-label text-light' %>
          <div class="col-9">
            <%= f.text_field :placa, class: 'form-control shadow-light' %>
          </div>
        </div>
        
        <div class="form-group row justify-content-center mt-4">
          <%= f.submit 'Cadastrar Veículo', class: 'btn btn-outline-light btn-lg' %>
        </div>
      <% end %> 
      <div class="mb-4">
        <%= link_to '[ Cancelar ]', veiculos_path, class: 'row justify-content-center text-dark' %>
      </div>
    </div>
  </div>
</div>