<h1 class="text-center mt-4">Meus Veículos</h1>

<div class="container">
  <% @veiculos.each do |veiculo| %>
    <div class="row justify-content-md-center">
      <div class="col-7 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body text-left">
            <table>
              <tr>
                <td class="text-right pr-2"><strong>Modelo:</strong></td>
                <td><%= veiculo.modelo.capitalize %></td>
              </tr>
              <tr>
                <td class="text-right pr-2"><strong>Marca:</strong></td>
                <td><%= veiculo.marca.capitalize %></td>
              </tr>
              <tr>
                <td class="text-right pr-2"><strong>Ano:</strong></td>
                <td><%= veiculo.ano %></td>
              </tr>
              <tr>
                <td class="text-right pr-2"><strong>Placa:</strong></td>
                <td><%= veiculo.placa.upcase %></td>
              </tr>
            </table>
            <div class="text-right mt-2">
              <%= link_to 'Editar', edit_veiculo_path(veiculo), class: 'btn btn-info' %>
              <%= link_to 'Excluir', veiculo_path(veiculo), class: 'btn btn-danger', 
                                    method: :delete, data: { confirm: "Tem certeza que deseja excluir essa reserva?" } %>
            </div>
          </div>
          
          <div class="card-footer text-muted">
            <small>
              Criado há <%= time_ago_in_words(veiculo.created_at) %>, 
              modificado há <%= time_ago_in_words(veiculo.updated_at) %>     
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>