<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @veiculo.modelo %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @veiculo.marca %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @veiculo.ano %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @veiculo.placa %>
</p>

<%= link_to 'Edit', edit_veiculo_path(@veiculo) %> |
<%= link_to 'Back', veiculos_path %>
